extends layout

block content
  p
    button(type='button')
      a(href='/createRace') Create New Race
  p
    button(type='button')
      a(href='/selectRace') Vote in a Race
  p
    button(type='button')
      a(href='/selectRaceResults') Race Results
  div(style='width:20%; float:right; border:4px solid #c6dffa; background-color:#e3effc;')
    a(href='https://en.wikipedia.org/wiki/Ranked_voting') What is Ranked Choice Voting?
    p When one candidate does not win over 50% of a vote, voters who voted for the candidate with the least number of 1st choice votes will then have their next highest choice voted for instead.

