extends layout

block content
  p
    button(type='button')
      a(href='/createRace') Create New Race
  p
    button(type='button')
      a(href='/selectRace') Vote in a Race
  p
    button(type='button')
      a(href='/selectRaceResults') Race Results
