doctype html
html
  head
    title= 'Ranked Voting'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      h1
        a(href='/' style='margin:auto -140px auto auto;') Ranked Voting
        a(href='https://www.youtube.com/watch?v=3Y3jE3B8HsE')
          img(src='/images/youtube.png' alt='CGP Grey Ranked Voting' style='width:100px; float:right; margin-right:2%;')
    p
      img(src='/images/crown.jpeg' alt='crown' style='width:100px; margin:auto .5% -30px auto;')
    p
      img(src='/images/lion.jpeg' alt='lion' style='width:200px;')
    block content
