doctype html
html
  head
    title= 'Ranked Choice Voting'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(style='width:60%; margin:auto;')
      h1
        a(href='/' style='margin:auto -3% auto auto;') Ranked Voting
        a(href='https://www.youtube.com/watch?v=3Y3jE3B8HsE')
          img(src='/images/youtube.png' alt='CGP Grey Ranked Voting' style='width:100px; float:left; margin-left:2%;')
        a(href='https://github.com/mdjee805/rankedChoiceVoting')
          img(src='/images/github.png' alt='github icon' style ='width:100px; float:right; margin-right:2%;')
      h3(style='font-size:12px; margin-left:30%;') by Michael Jee
    p
      img(src='/images/crown.jpeg' alt='crown' style='width:100px; margin:-1% .5% -30px auto;')
    p
      img(src='/images/lion.jpeg' alt='lion' style='width:200px;')
    block content
