extends layout

block content
  h2(style='margin-top: 20px; font-size: 32px;') Results
  table
    tr
      th Title
      th Final Votes
    each item in allVotes
      tr
        td=item.name
        td=item.vote
  div(style="background-color:#5cb1f0; width:30%; margin:1% auto auto auto;")
    p(style="font-weight:bold; font-size:24px;")="Winner: " + winner.name
