extends layout

block content
  h2(style='margin-top: 20px;') Select one of the available races below
  table
    thead
      tr
        th Race ID
        th(colspan="10") Titles
    tbody    
      - for (i = 0; i < races.length; ++i)
        tr
          td(style="text-decoration:none;")
            - var link = "/voteInRace/" + races[i][0];
            a(href=link style='font-size:20px;')=races[i][0]
          - for (j = 1; j < races[i].length; ++j)
            td=races[i][j]
