extends layout

block content
  form(action='/sendVote/'+items[0].raceID method='post' style='background-color:#e3effc; padding:10px;  width:80%; margin:auto;')
    h2 Rank the following items below (1 is first choice)
    - let i = 0;
    - for (i; i < items.length; ++i)
      - let priority = "priority" + i;
      p
        label=items[i].name
        input(type='text' id=priority name=priority style='margin: 0 0 0 .5%;')
      if(i == items.length - 1)
        p
          input(class='button' type='submit' value='Submit' onclick="alert('Submitted. Redirecting...')")
