div {
  border: 2px;
  border-style: solid;
  border-color: #a7cff7;
  background-color: #a7cff7;
  text-align: center;
}

body {
  background-color: white;
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 48px; 
}

button {
  background-color: #c6dffa; /* Green */
  border: none;
  color: black;
  padding: 30px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin-top: 20px;
}

.button {
  background-color: #c6dffa; /* Green */
  border: none;
  color: black;
  padding: 30px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin-top: 20px;
}

a {
  color: blue;
  text-decoration:none;
  font-weight:bold;
  font-style:italic;
}

table {
  background-color: white;
  border:1px solid lightgray;
  width:80%;
  margin:auto;
}

th, td, tr {
  background-color:#e3effc;
  height:40px;
  font-size:16px;
}

th {
  background-color:#c6dffa;
  font-weight:bold;
}
