div {
  border: 2px;
  border-style: solid;
  border-color: #222222;
  background-color: #333333;
  text-align: center;
}

body {
  background-color: #003300;
  text-align: center;
  color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 48px; 
}

button {
  background-color: #B8860B; /* Green */
  border: none;
  color: white;
  padding: 30px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin-top: 20px;
}

.button {
  background-color: #B8860B; /* Green */
  border: none;
  color: white;
  padding: 30px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin-top: 20px;
}

a {
  color: blue;
  text-decoration:none;
}

table {
  background-color:#222;
  border:2px solid black;
  color:black;
  width:80%;
  margin:auto;
}

th, td, tr {
  background-color:#DCDCDC;
  border:1px solid black;
  height:60px;
  font-size:24px;
}

th {
  background-color:#bbb;
  font-weight:bold; 
}
